<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Log in</h3>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<!--<div class="input-group input-group-lg">-->
					<!--<span class="input-group-addon">-->
						<!--<i class="glyphicon glyphicon-user text-muted"></i>-->
					<!--</span>-->
						<!--<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">-->
					<!--</div>-->
					<md-input-container>
						<!-- Use floating label instead of placeholder -->
						<label>Username</label>
						<input ng-model="credentials.username" type="text">
					</md-input-container>
				</div>
				<div class="form-group">
					<!--<div class="input-group input-group-lg">-->
					<!--<span class="input-group-addon">-->
						<!--<i class="glyphicon glyphicon-asterisk text-muted"></i>-->
					<!--</span>-->
						<!--<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">-->
					<!--</div>-->
					<md-input-container>
						<!-- Use floating label instead of placeholder -->
						<label>Password</label>
						<input ng-model="credentials.password" type="text">
					</md-input-container>
				</div>
				<div class="form-group">
					<!--<button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>-->
					<md-button type="submit" class="btn btn-lg btn-block md-raised">Sign in</md-button>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a> &nbsp; Or &nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
